
<img src="~/images/connections2.png" class="connection image" />
<header></header>
<img src="~/images/candidate.png" class="candidate image" />
<h1 class="nominate header"><i class="user icon"></i>Nominate Candidate</h1>
<div class="ui segment nominate">
    <br />
    <br />
    <form class="ui form nominate">
        <div class="field">
            <label>Name</label>
            <input type="text" name="first-name" placeholder="Name">
        </div>
        <div class="field">
            <label>Address</label>
            <input type="text" name="last-name" placeholder="Address">
        </div>
        <button class="ui primary basic button" type="submit" style="margin-top:10px">Nominate</button>
    </form>
    <br />
    <br />
</div>
