@*<img src="~/images/connection.png" class="connection image" />*@
<img src="~/images/connections2.png" class="connection image"/>
<header></header>
<img src="~/images/cubesfinal.png" class="blockchain image" />
<h1 class="vote header"><i class="th list icon"></i>Vote</h1>
<div class="ui segment vote">
    <br />
    <br />
    <form class="ui form vote">
        <div class="grouped fields">
            <label>Check the candidate you want to vote</label>
            <div class="field">
                <div class="ui checkbox">
                    <input type="radio" name="example2" checked="checked">
                    <label>
                        <font style="font-weight:600">Matt Giampietro  </font>
                        <p style="margin-top:0.5vh">1K31KZXjcochXpRhjH9g5MxFFTHPi2zEXb</p>                                             
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="radio" name="example2">
                    <label>
                        <font style="font-weight:600">Kristy Kirt</font>
                        <p style="margin-top:0.5vh">14qViLJfdGaP4EeHnDyJbEGQysnCpwn1gd</p>                       
                    </label>                   
                </div>
                
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="radio" name="example2">
                    <label>
                        <font style="font-weight:600">Elliot Fu</font>
                        <p style="margin-top:0.5vh">3J98t1WpEZ73CNmQviecrnyiWrnqRhWNLy</p>                        
                    </label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="radio" name="example2">
                    <label >
                        <font style="font-weight:600">Jenny Hess </font>
                        <p style="margin-top:0.5vh">1BvBMSEYstWetqTFn5Au4m4GFg7xJaNVN2</p>
                    </label>                    
                </div>
            </div>
        </div>
        <div class="inline fields">
            <button class="ui primary basic button" type="submit" style="margin-right:0.5vw;width:10vw">Vote</button>
            <button class="ui green basic button" type="button" onclick="window.location = '/Home/Result'" style="width:10vw">View Result</button>
        </div>
        
    </form>

    <br />
</div>

<script>
    $('.ui.checkbox').checkbox();
</script>